<!DOCTYPE html>
<html>
  <head>
    <title>{{title}} | PoRedit</title>
    <!-- Bootstrap -->
    <link href="{{url_for('static',filename='css/application.css')}}" rel="stylesheet" media="screen">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li {% if page == 'home' %}class="active"{% endif %}><a href="{{ url_for('home') }}">Home</a></li>
          <li {% if page == 'about' %}class="active"{% endif %}><a href="{{ url_for('about') }}">About</a></li>
        </ul>
        <h3 class="muted"><a href="{{ url_for('home') }}" title="Transleet">PoRedit</a></h3>
        <div class="clearfix"></div>
      </div>

      <hr>

      {% block content %}
      {% endblock %}

      <hr>

      <div class="footer">
        <p>Powered by <a href="https://github.com/ekaputra07/poredit" title="An open source Online PO file editor" target="_blank">PoRedit</a></p>
      </div>

    </div> <!-- /container -->


    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/application.js')}}"></script>
  </body>
</html>
